.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu-bar-list {
  background: #eee5e3; 
  height: calc(100vh - 100px); 
  width: calc(100vw - 200px); 
  padding: 75px 52px;
}
.menu-bar-list>.slogan {
  font-size: 100px;
  line-height: 110px;
  color: #444;
}
.menu-bar-list>ul {
  list-style: none;
}
.menu-bar-list>ul>li {
  margin: 60px;
}
.menu-bg {
  height: 200px;
  position: relative;
}
.menu-bg p{
  font-family: fantasy;
  font-size: 130px;
  position: absolute;
  top: 178px;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 0.2em;
  text-align: center;
  color: #EE4A3B;
  text-shadow: 5px 5px 0px #F5B393, 
    10px 10px 0px #FFDFDE;
  position: absolute; 
  top: -30px; 
  right: -30px;
}